.container{
  margin: 50px 10% ;
}
.btn{
  float: right;
  margin-bottom: 20px;
}
.inputDesign{
  width: 300px;
  border-radius: 4px;
  border: 1px solid rgb(95, 95, 95);
}

.inputDesign:focus-visible{
  border:1px solid #0075ff;
  outline: none;
}